/**************************************
 * FONTS
 *************************************/
 @font-face {
    font-family: 'fjalla_oneregular';
    src: url('../../../recit_mathematique/scss/fjallaone-regular-webfont.woff2') format('woff2'),
    url('../../../recit_mathematique/scss/fjallaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: "Ubuntu", sans-serif, !default;
$subheadings-font-family:"Viga";
$headings-font-family:'Fjalla One', sans-serif;
$figuretexte: "Ubuntu", sans-serif;





/**************************************
 * COLORS
 *************************************/
$enable-gradients: true;
$primary:#4b4a4e;
$primaryBold: #2a2a2d;
$secondary:#007d79;
$secondaryBold: #02524f;
$secondarypale:#0082C6;
$success:#009bcd;
$danger:#f5af1b;
$info:#d0181e;
$warning:#FFE869;
$light:#FDFBF7;
$dark:#555555;

$color1:#FFFFFF;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#007a76;
$theme_color2:#f6b100;
$theme_color3:#ef783b;
$theme_color4:#68b459;

/**************************************
 * GENERAL
 *************************************/

$headings-font-family: $headings-font-family !default;

$navbar-height: 50px !default;



figure.figure_custom {
    display: block !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    border-radius: 16px !important;
    margin-bottom: 40px !important;
    overflow: hidden !important;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
    box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
}
