/**************************************
 * FONTS
 *************************************/

$font-family-sans-serif: "Ubuntu", sans-serif, !default;
$subheadings-font-family:"Viga";
$headings-font-family:'Fjalla One', sans-serif;
$figuretexte: "Ubuntu", sans-serif;
$font-family-text: 'Ubuntu', sans-serif;
$font-family-text-size: .9rem;

 
 /**************************************
  * COLORS
  *************************************/
$enable-gradients: true;
$primary:#4b4a4e;
$primaryBold: #2a2a2d;
$secondary:#007d79;
$secondaryBold: #02524f;
$secondarypale:#0082C6;
$success:#009bcd;
$danger:#f5af1b;
$info:#d0181e;
$warning:#FFE869;
$light:#FDFBF7;
$dark:#555555;

$color1:#FFFFFF;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#007a76;
$theme_color2:#f6b100;
$theme_color3:#ef783b;
$theme_color4:#68b459;
$theme_color5:#494755;

$secondarycomplement:$warning;
$primarycomplement:$danger;
$white:#FFFFFF;
$black:#000;
$successpale:#EDF4CC;
$dangerpale:#F9E2E3; 
$info:#FBB040;
$primarypale:#E9E8E9;
$infopale:#FEF5E7;

/**************************************
* GENERAL
*************************************/

$headings-font-family: $headings-font-family !default;
$subheadings-font-family: $headings-font-family !default;

// 6. Collapsible
// ==========================================================================

$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;

// 12. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
 
// 14. Side Navigation
// ==========================================================================

$sidenav-width: 300px !default;
$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0,0,0,.87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;
$btn-radius: 30px;
$font-family-text: 'Ubuntu', sans-serif;
$font-family-text-size: .9rem;
$headings-font-size: 2.34375rem;
$top-navbar-height: 67px;
$course-banner-max-height: 150px;
$card-border-radius: 0 !default;
$page-max-width: 1500px;
$nav-color: #343a40;
$body-bg: #eef5f9 !default;
$body-color: #373a3c;

/* Current directory is recit2/scss */
@import "./recit/import";
@import "./deprecated/editorhtml";

figure.figure_custom {
  display: block !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  border-radius: 16px !important;
  margin-bottom: 40px !important;
  overflow: hidden !important;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
  box-shadow: 0px 10px 15px 0px rgba(0, 125, 121,0.5) !important;
}

.editeur, body.theme-recit-mathematique{
  h1,h2,h3,h4,h5,h6 {font-family: 'Viga', sans-serif;}
  .recit-btn-primary {
      color: $dark;
      background-color: #EAC167;
      border: none;
  }
  
  .recit-btn-primary:hover {
      color:$dark;
  }

  .btn-primary, .btn-primary:not(:disabled):not(.disabled):active {
      color: #FFF;
      background-color: $dark;
      border-color: $dark;
  }
}